<% if @user.errors.any? %>
	<div id="error_explanation">
		<div data-alert class="alert-box alert">
			Failed signup.
			<a href="#" class="close">&times;</a>
		</div>
		<% @user.errors.full_messages.each do |msg| %>
		<div data-alert class="alert-box">
			<%= msg %>
			<a href="#" class="close">&times;</a>
		</div>
		<% end %>
	</div>
<% end %>