<% if @user.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			Failed signup.
		</div>
		<% @user.errors.full_messages.each do |msg| %>
			<div data-alert class="alert-box alert">
				<%= msg %>
				<a href="#" class="close">&times;</a>
			</div>
		<% end %>
	</div>
<% end %>